version: '3.9'

services:
  nginx:
    container_name: nginx
    image: nginx
    build: ./requirements/nginx/
    env_file:
      - .env
    restart: always
    ports:
      - "443:443"
    networks:
      - inception
    volumes:
      - wordpress-volume:/var/www/html/
    depends_on:
      - wordpress

  mariadb:
    container_name: mariadb
    image: mariadb
    build: ./requirements/mariadb
    env_file:
      - .env
    restart: always
    networks:
      - inception
    volumes:
      - mariadb-volume:/var/lib/mysql

  wordpress:
    container_name: wordpress
    image: wordpress
    build: ./requirements/wordpress
    env_file:
      - .env
    restart: always
    networks:
      - inception
    depends_on:
      - mariadb
    volumes:
      - wordpress-volume:/var/www/html/

volumes:
  wordpress-volume:
    driver: local
    driver_opts:
      device: /home/${USER}/data/wordpress
      o: bind
      type: none
  mariadb-volume:
    driver: local
    driver_opts:
      device: /home/${USER}/data/mariadb
      o: bind
      type: none

networks:
    inception:
        driver: bridge